.show {
    margin:10px;
    

}

.Giphy {
    margin: 10px;
}

button {
    background-color:burlywood;
    color: whitesmoke;
}

.jumbotron {
    background-image: url("background2.jpg");
    background-repeat: no-repeat;
     background-position: center;
    color: yellow;
}


